<div class="jumbotron">
  <h1 class="display-6">Details about client</h1>
  <div class="d-flex flex-row-reverse">
    <% if current_user.try(:admin?) %>
      <div class="p-1">
        <%= link_to 'Delete client', client_path(@client), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-dark" %>
      </div>
    <% end %>
    <div class="p-1">
      <%= link_to 'Back', clients_path, class:"btn btn-dark" %> 
     </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <%= image_tag(@client.image, style: "width:20%") if @client.image.present? %>
      </div>
      <div class="col-sm">
        <p class="lead"> 
          <b>First Name:</b> <%= @client.first_name %><br>
          <b>Last Name:</b> <%= @client.last_name %><br>
          <b>Home Address:</b> <%= @client.address %><br>
          <b>Email:</b> <%= @client.email %><br>
          <b>Phone Number:</b> <%= @client.phone %><br>
          <b>Website:</b> <%= @client.website %><br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm lead">
        <b>Description:</b> <br><%= @client.description %>
      </div>
    </div>
  </div>
  <% if current_user.try(:admin?) %>
  <hr class="my-4">
  <h3 class="display-6">My projects</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan = "3"> Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project|%>
      <tr>
        <td>
          <%= project.title %>
        </td>
        <td>
          <%= project.description %>
        </td>
        <td>
          <% if current_user.try(:admin?) %>
            <%= link_to 'Show', project_path(project), class:"btn btn-dark" %>
            <%= link_to 'Delete', project_path(project), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-dark" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>
